footer {
    background-color: $grey300;
    color: $grey500;
    .footer {
        @include bgImg("../images/footer-bg.jpg");
        .footer__nav {
            display: flex;
            z-index:1;
        }
        .btn,p {
            text-transform: capitalize;
            color: $grey500;
            font-size: $txt;
        }
        .nav__col {
            margin-right: $mdGapX2;
        }

        .col__list {
            margin: $mdGap 0;
        }

        .container {
            position: relative;
            padding: 2.6875rem;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-image: url(../images/dc-logo-bg.png);
                background-repeat: no-repeat;
                background-position: right;
                z-index:0;
                
            }
        }
    }

    .footer__bottom {
        padding: $mdGapX2 0;

        .container {
            @include flex--SB-C;
        }

        .social {
            display: flex;
            align-items: center;
        }

        .social__list {
            @include inlineList;
            & > * {
                margin-left: $smGapX2;
            }
        }
    }
}

@media screen and (max-width:560px) {
    footer {
        .footer__bottom {
            .container {
                flex-direction: column;
                align-items: flex-start;
            }
            .social {
                margin-left: auto;
                margin-top: $mdGapX2;
            }
            
            img{
                width: 1.53rem;
            }
        }
    }
}