// *
// Colors
// *
$mainColor: #0282f9;
$grey100: #1c1c1c;
$grey300: #303030;
$grey500: #959595;
// *
// *
// Line-height link
// *
$lineheightLink: 6rem;
// *
// Section padding
// *
$sectionPadding: 2rem 0; 
// *
// Gap
// *
$smGap: 0.625rem;
$smGapX2: $smGap * 2;
$mdGap: .8rem;
$mdGapX2: $mdGap * 2;
$lgGap: 3.125rem;